<div class="col-md-3">
  <div class="form-group" id="colpatient">
    <div class="barPatient">
      <p>Mes patients</p>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>

  </div>
</div>

<div class="col-md-9">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <h2>Nom</h2>
    </div>
    <div class="col-md-4">
      <h3>Prénom</h3>
    </div>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="/profile" role="tab">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="/fiche" role="tab">Fiche Medicale</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="#profile" role="tabpanel">

      <!-- Text input-->
      <legend>Informations Générale :</legend>
      <div class="form-group">
        <div class="col-sm-3">
          <input type="number" name="age" placeholder="Age" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="number" name="poids" placeholder="Poids" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="number" name="taille" placeholder="Taille" class="form-control">
        </div><br>
      </div>


      <div class="form-group">
        <div class="col-sm-5">
          <input type="phone" placeholder="Numero de Telephone" class="form-control">
        </div>
        <div class="col-sm-5">
          <input type="email" name="Email" placeholder="Email" class="form-control">
        </div><br>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <div class="col-sm-4">
          <input type="date" placeholder="Date de naissance" class="form-control">
        </div><br>
      </div>



      <!-- Address Section -->
      <!-- Form Name -->
      <legend>Adresse :</legend>
      <!-- Text input-->
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" name="addressLine1" placeholder="Adresse" class="form-control">
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" name="addressLine2" placeholder="Adresse" class="form-control">
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <div class="col-sm-5">
          <input type="text" name="VILLE" placeholder="Ville" class="form-control">
        </div>

        <div class="col-sm-5">
          <input type="text" name="postalCode" placeholder="Code Postal" class="form-control">
        </div>
      </div>


    </div>

  </div>
</div>

