<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand">SUIKI</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="tarif">Tarif</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="concept">Concept</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>

