/* You can add global styles to this file, and also import other style files */
body{
  background-color: #e4e9e9;
  height: 100%;
}

.form-group{
  margin-bottom: 10px;
}

.profilename{
  background-color: #c90012;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-tabs{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F5CE4E;
  font-size: 30PX;
}
