<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="suikiEntities" connectionString="metadata=res://*/Suiki.csdl|res://*/Suiki.ssdl|res://*/Suiki.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=suiki;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>