<!-- Name Section -->
<div class="center-block" style="margin-left: 300px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <form class="form-horizontal" role="form">
        <fieldset>

          <!-- Form Name -->
          <legend>Inscription </legend>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-5">
              <input type="text" name="prenom" placeholder="Prenom" class="form-control">
            </div>
            <div class="col-sm-5">
              <input type="text" name="nom" placeholder="Nom" class="form-control">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-5">
              <input type="phone" placeholder="Numero de Telephone" class="form-control">
            </div>
            <div class="col-sm-5">
              <input type="email" name="Email" placeholder="Email" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-4">
              <input type="date" placeholder="Date de naissance" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-4">
              <select type="gender" placeholder="Gender" class="form-control">
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select>
            </div>
          </div>


          <!-- Address Section -->
          <!-- Form Name -->
          <legend>Adresse Cabinet</legend>
          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" name="addressLine1" placeholder="Adresse" class="form-control">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" name="addressLine2" placeholder="Adresse" class="form-control">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
            <div class="col-sm-5">
              <input type="text" name="VILLE" placeholder="Ville" class="form-control">
            </div>

            <div class="col-sm-5">
              <input type="text" name="postalCode" placeholder="Code Postal" class="form-control">
            </div>
          </div>

          <!-- Conditions -->
          <div class="form-group">

            <div class="row">
              <div class="col-sm-1">
                <input type="checkbox" name="condition">
              </div>
              <div class="col-sm-9">
                J'accepte les conditions d'utilisation
              </div>
            </div>
          </div>


          <!-- validation -->
          <div class="form-group">
            <div class="col-sm-5 col-sm-offset-1">
              <div class="pull-right">
                <button type="submit" class="btn btn-register" routerLink="/patient" >Incription</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->


</div>
