<div class="col-md-7">
  <div class="col-md-12">
    <p>Nom </p>
    <p>Prénom</p>
  </div>
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <div class="row">

        <li role="presentation">
          <div class="col-md-6">
          <a href="#">Profile</a>
          </div>
        </li>
        <li role="presentation">
          <div class="col-md-6">
          <a href="#">Fiche Medicale</a>
          </div>
        </li>

      </div>
    </ul>
  </div>
  <div class="col-md-12">
    <div class="form-group" >
      <label for="age" id="age">Age:</label>
    </div>
    <div class="form-group" >
      <label for="poids" id="poids">Poids:</label>
    </div>
    <div class="form-group" >
      <label for="taille" id="taille">Taille:</label>
    </div>
    <div class="form-group" >
      <label for="mail" id="mail">E-mail:</label>
    </div>
    <div class="form-group" >
      <label for="tel" id="tel">Tel:</label>
    </div>
    <div class="form-group" >
      <label for="adresse" id="adresse">Adresse:</label>
    </div>
  </div>
</div>

